mixin raincard(stn)
    script.
        $(document).ready(function () {
            if (`#{stn.subtype}` === 'r')
                setTimeout(function() { checkRainStart(`#{stn.id}`,'false'); }, 5000);
            else if (`#{stn.subtype}` === 'c'){
                setTimeout(function() { checkRainStart(`#{stn.id}`,'true'); }, 5000);
            }
        })

        if (`#{stn.subtype}` === 'r'){
            var chackAlarm = setInterval(function () {
                checkRainStart(`#{stn.id}`, 'false');
            }, 180000);//180000
        }else if (`#{stn.subtype}` === 'c') {
            var chackAlarm = setInterval(function () {
                checkRainStart(`#{stn.id}`, 'true');
            }, 180000);//180000
        }

        var refreshValues = setInterval(function () {
            getRainValues(`#{stn.id}`, `#{stn.subtype}`);
            getRainTotalOfEndOfPastMonthsForDrawingCharts(`#{stn.id}`, `#{stn.subtype}`);
        }, 1500000);


    div.col-lg-3.text-right
        // - dest = 'location.href=' + '"' + '/detail/' + stn.id + '-' + 'NAN' + '"' +  ';'
        - i = stn.id
        div.card.card-chart(id= i )
            div.card-header.rain(onclick= 'loadDetailCard(' + '"' + stn.id + '"' + ',' + '"' + stn.position + '"' + ',' + '"' + 'rain' + '"' + ',' + '"' + stn.subtype + '"' +')' style='cursor: pointer;')
                i.far.fa-sun-cloud.fa-pull-left.fa-3x(id='icon-status')
                //- i.far.fa-cloud-rain.fa-pull-left.fa-3x
                //- i.far.fa-cloud-showers-heavy.fa-pull-left.fa-3x
                h3.card-category  #{stn.position}

                h4.card-title
                    //- i.far.fa-umbrella.fa-fw
                    //- i.livicon(data-n='umbrella')
                    i.card-label(id='rain_status')
                    i.status(id='rain_status_result') بدون بارش
                    br
                    //- i.fal.fa-cloud-showers-heavy.fa-fw
                    //i.tim-icons.icon-bell-55.text-primary
                    i.card-label(id='rain_alarm') بدون هشدار
                    i.status(id='rain_alarm1')
                    i.status(id='rain_alarm8')
                    br
                    //i.tim-icons.icon-bell-55.text-primary
                    //i.fas.fa-cloud-showers-heavy
                    div(style='display:flex;justify-content:space-between;align-items:baseline ')
                        div
                            i.far.fa-cloud-rain.fa-fw
                            i.card-label(id='rain_total')
                        div(style='text-align:left')
                            i.unit(id='rain_total_unit')
                            i.value(id='rain_total_value')
                    div(style='display:flex;justify-content:space-between;align-items:baseline ')
                        div
                            i.far.fa-cloud-rain.fa-fw
                            i.card-label(id='rain_24')
                        div(style='text-align:left')
                            i.unit(id='rain_24_unit')
                            i.value(id='rain_24_value')
                    div(style='display:flex;justify-content:space-between;align-items:baseline ')
                        div
                            i.far.fa-cloud-rain.fa-fw
                            i.card-label(id='rain_12')
                        div(style='text-align:left')
                            i.unit(id='rain_12_unit')
                            i.value(id='rain_12_value')
                    div(style='display:flex;justify-content:space-between;align-items:baseline ')
                        div
                            i(id='date_of_last_recieved_data_label')
                        div
                            i.value(id='date_of_last_recieved_data_value')
            div.card-body
                div.chart-area
                    //- canvas(id='chartLinePurple')
                    - chart_id = 'CountryChart' + stn.id
                    canvas(id= chart_id)
mixin levelcard(stn)
    div.col-lg-3.text-right
        div.card.card-chart
            script.
                $(document).ready(function () {
                    checkFloodStatus(`#{stn.id}`);
                })
                var chackAlarm = setInterval(function () {
                    checkFloodStatus(`#{stn.id}`);

                }, 180000);
            div.card-header.level(onclick= 'loadDetailCard(' + '"' + stn.id + '"' + ',' + '"' + stn.position + '"' + ',' + '"' + 'level' + '"' +')' style='cursor: pointer;')
                i.fal.fa-water.fa-fw.fa-pull-left.fa-3x
                h3.card-category  #{stn.position}
                - i = stn.id
                h4.card-title(id= i )
                    //- i.tim-icons.icon-bell-55.text-primary
                    //- i.fal.fa-water.fa-fw
                    //- i.card-label(id='level_status') وضعیت رودخانه
                    br
                    //- i.fal.fa-water-rise.fa-fw
                    i.wi.wi-flood
                    //- i.far.fa-bell
                    i.card-label(id='flood_status') &nbsp&nbsp&nbsp بدون سیلاب
                    br
                    div(style='display:flex;justify-content:space-between;align-items:baseline ')
                        div
                            i.fal.fa-arrows-v.fa-fw
                            i.card-label(id='level_total')
                        div(style='text-align:left')
                            i.unit(id='level_total_unit')
                            i.value(id='level_total_value')
                    div(style='display:flex;justify-content:space-between;align-items:baseline ')
                        i(id='date_of_last_recieved_data_label')
                        i.value(id='date_of_last_recieved_data_value')
            div.card-body
                div.chart-area
                    //- canvas(id='chartLinePurple')
                    - chart_id = 'chartLinePurple' + stn.id
                    canvas(id= chart_id)
mixin climacard(stn , sensor)
    div.col-md-3.text-right
        if (sensor[0] === 'RAINC')
            - i = stn.id + sensor[0]
            div.card.card-chart(id= i )
                script.
                    $(document).ready(function () {
                        setTimeout(function() { checkRainStartFromClima(`#{stn.id}`); }, 5000);
                    })
                    // setTimeout(() =>
                    //     checkRainStart(`#{stn.id}`),1);
                    var chackAlarm = setInterval(function () {
                        checkRainStartFromClima(`#{stn.id}`);

                    }, 180000);
                    var s = ['RAINC', 'mm'];
                    var refreshValues = setInterval(function () {
                        getClimaValues(`#{stn.id}`, 'RAINC' , 'mm');//- getClimaValues(id, sensor, fa_unit)
                        getClimaLastHoursForDrawingCharts(`#{stn.id}`, s); //- getClimaLastHoursForDrawingCharts(station_ID, sensor)
                    }, 1500000);
                div.card-header.clima(onclick= 'loadDetailCard(' + '"' + stn.id + '"' + ',' + '"' + stn.position + '"' + ',' + '"' + 'climar' + '"' +')' style='cursor: pointer;')
                    i.far.fa-sun-cloud.fa-pull-left.fa-3x(id='icon-status')
                    //- i.far.fa-cloud-rain.fa-pull-left.fa-3x
                    //- i.far.fa-cloud-showers-heavy.fa-pull-left.fa-3x
                    h3.card-category  #{sensor[1]}
                    h4.card-title
                        //i.tim-icons.icon-bell-55.text-primary
                        i.fas.fa-umbrella.fa-fw
                        i.card-label(id='rain_status')
                        i.status(id='rain_status_result') بدون بارش
                        br
                        i.fas.fa-cloud-showers-heavy.fa-fw
                        //i.tim-icons.icon-bell-55.text-primary
                        i.card-label(id='rain_alarm') بدون هشدار
                        i.status(id='rain_alarm1')
                        i.status(id='rain_alarm8')
                        br
                        div(style='display:flex;justify-content:space-between;align-items:baseline ')
                            div
                                i.fas.fa-cloud-rain.fa-fw
                                i.card-label(id='rain_total')
                            div(style='text-align:left')
                                i.unit(id='rain_total_unit')
                                i.value(id='rain_total_value')
                        div(style='display:flex;justify-content:space-between;align-items:baseline ')
                            div
                                i.fas.fa-cloud-rain.fa-fw
                                i.card-label(id='rain_24')
                            div(style='text-align:left')
                                i.unit(id='rain_24_unit')
                                i.value(id='rain_24_value')
                        div(style='display:flex;justify-content:space-between;align-items:baseline ')
                            div
                                i.fas.fa-cloud-rain.fa-fw
                                i.card-label(id='rain_12')
                            div(style='text-align:left')
                                i.unit(id='rain_12_unit')
                                i.value(id='rain_12_value')
                        div(style='display:flex;justify-content:space-between;align-items:baseline ')
                            i(id='date_of_last_recieved_data_label')
                            i.value(id='date_of_last_recieved_data_value')
                div.card-body
                    div.chart-area
                        //- canvas(id='chartLinePurple')
                        - chart_id = 'CountryChart' + stn.id + sensor[0]
                        canvas(id= chart_id)
        else
            div.card.card-chart
                div.card-header.clima(onclick= 'loadDetailCard(' + '"' + stn.id + '"' + ',' + '"' + stn.position + '"' + ',' + '"' + 'climax' + '"' +')' style='cursor: pointer;')
                    if(sensor[0] === 'TMP')
                        i.far.fa-temperature-low.fa-fw.fa-pull-left.fa-3x
                    if(sensor[0] === 'WSP')
                        i.far.fa-wind.fa-fw.fa-pull-left.fa-3x
                    if(sensor[0] === 'HUM')
                        i.far.fa-humidity.fa-fw.fa-pull-left.fa-3x
                    if(sensor[0] === 'EVP')
                        i.far.fa-heat.fa-fw.fa-pull-left.fa-3x
                    if(sensor[0] === 'WDR')
                        i.far.fa-windsock.fa-fw.fa-pull-left.fa-3x
                    if(sensor[0] === 'RAD')
                        i.fad.fa-radiation.fa-pull-left.fa-3x
                    if(sensor[0] === 'PRS')
                        i.wi.wi-barometer(style={display:'inline-block' ,'font-size':'3em', float:'left' ,'margin-right':'.3em'})
                    h3.card-category  #{sensor[1]}
                    - i = stn.id + sensor[0]
                    h4.card-title(id= i )
                        //- i.tim-icons.icon-bell-55.text-primary
                        i.far.fa-bell.fa-fw
                        - i = sensor[0] + '_alarm'
                        i.card-label(id= i) &nbsp&nbsp&nbsp آلارم ها
                        br
                        if(sensor[0] === 'TMP')
                            div(style='display:flex;justify-content:space-between;align-items:baseline ')
                                div
                                    i.far.fa-temperature-low.fa-fw
                                    - i = sensor[0] + '_last'
                                    i.card-label(id=i)  &nbsp&nbsp&nbsp آخرین مقدار
                                div(style='text-align:left')
                                    - i = sensor[0] + '_last_unit'
                                    i.unit(id=i)
                                    - i = sensor[0] + '_last_value'
                                    i.value(id=i)
                        if(sensor[0] === 'WSP')
                            div(style='display:flex;justify-content:space-between;align-items:baseline ')
                                div
                                    i.far.fa-wind.fa-fw
                                    - i = sensor[0] + '_last'
                                    i.card-label(id=i)  &nbsp&nbsp&nbsp آخرین مقدار
                                div(style='text-align:left')
                                    - i = sensor[0] + '_last_unit'
                                    i.unit(id=i)
                                    - i = sensor[0] + '_last_value'
                                    i.value(id=i)
                        if(sensor[0] === 'HUM')
                            div(style='display:flex;justify-content:space-between;align-items:baseline ')
                                div
                                    i.far.fa-humidity.fa-fw
                                    - i = sensor[0] + '_last'
                                    i.card-label(id=i)  &nbsp&nbsp&nbsp آخرین مقدار
                                div(style='text-align:left')
                                    - i = sensor[0] + '_last_unit'
                                    i.unit(id=i)
                                    - i = sensor[0] + '_last_value'
                                    i.value(id=i)
                        if(sensor[0] === 'EVP')
                            div(style='display:flex;justify-content:space-between;align-items:baseline ')
                                div
                                    i.far.fa-heat.fa-fw
                                    - i = sensor[0] + '_last'
                                    i.card-label(id=i)  &nbsp&nbsp&nbsp آخرین مقدار
                                div(style='text-align:left')
                                    - i = sensor[0] + '_last_unit'
                                    i.unit(id=i)
                                    - i = sensor[0] + '_last_value'
                                    i.value(id=i)
                        if(sensor[0] === 'WDR')
                            div(style='display:flex;justify-content:space-between;align-items:baseline ')
                                div
                                    i.far.fa-windsock.fa-fw
                                    - i = sensor[0] + '_last'
                                    i.card-label(id=i)  &nbsp&nbsp&nbsp آخرین مقدار
                                div(style='text-align:left')
                                    - i = sensor[0] + '_last_unit'
                                    i.unit(id=i)
                                    - i = sensor[0] + '_last_value'
                                    i.value(id=i)
                        if(sensor[0] === 'RAD')
                            div(style='display:flex;justify-content:space-between;align-items:baseline ')
                                div
                                    i.fad.fa-radiation
                                    - i = sensor[0] + '_last'
                                    i.card-label(id=i)  &nbsp&nbsp&nbsp آخرین مقدار
                                div(style='text-align:left')
                                    - i = sensor[0] + '_last_unit'
                                    i.unit(id=i)
                                    - i = sensor[0] + '_last_value'
                                    i.value(id=i)
                        if(sensor[0] === 'PRS')
                            div(style='display:flex;justify-content:space-between;align-items:baseline ')
                                div
                                    i.wi.wi-barometer
                                    - i = sensor[0] + '_last'
                                    i.card-label(id=i)  &nbsp&nbsp&nbsp آخرین مقدار
                                div(style='text-align:left')
                                    - i = sensor[0] + '_last_unit'
                                    i.unit(id=i)
                                    - i = sensor[0] + '_last_value'
                                    i.value(id=i)
                        div(style='display:flex;justify-content:space-between;align-items:baseline ')
                            div
                                i.fas.fa-arrow-to-top.fa-fw
                                - i = sensor[0] + '_max'
                                i.card-label(id=i)
                            div(style='text-align:left')
                                - i = sensor[0] + '_max_unit'
                                i.unit(id=i)
                                - i = sensor[0] + '_max_value'
                                i.value(id=i)
                        div(style='display:flex;justify-content:space-between;align-items:baseline ')
                            div
                                i.fas.fa-arrow-to-bottom.fa-fw
                                - i = sensor[0] + '_min'
                                i.card-label(id=i)
                            div(style='text-align:left')
                                - i = sensor[0] + '_min_unit'
                                i.unit(id=i)
                                - i = sensor[0] + '_min_value'
                                i.value(id=i)
                        div(style='display:flex;justify-content:space-between;align-items:baseline ')
                            div
                                i(id='date_of_last_recieved_data_label')
                            div(style='text-align:left')
                                i.value(id='date_of_last_recieved_data_value')
                div.card-body
                    div.chart-area
                        //- canvas(id='chartLinePurple')
                        - chart_id = 'chartLinePurple' + stn.id + sensor[0]
                        canvas(id= chart_id)