mixin detailCardClima(stnID,sensor,position)
    script(type='text/javascript').
        $(document).ready(function () {
            getClimaValuesForDetailCard(#{stnID});
            checkRainStart(#{stnID},'false');
        })
    .content
        +title('ایستگاه هواشناسی ' + position + ' :  سنسور باران ')
        .row
            .col-lg-10
                .col-lg-12(id='amari-report-div' style='text-align:center')
                    .card
                        .card-header
                            div(style='text-align:right')
                                h3.card-category گزارش آماری :
                            .row
                                .col-lg-6.text-right
                                    .card
                                        .card-header
                                            .btn-group.btn-group-toggle(data-toggle="buttons")
                                                label#0.btn.btn-xl.btn-primary.btn-simple.active(style='font-size:25')
                                                    input(id="total-rain-input" type="radio" name="options" checked="")
                                                    span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block  باران تجمیعی
                                                    span.d-block.d-sm-none
                                                        i.tim-icons.icon-single-02
                                                label#1.btn.btn-xl.btn-primary.btn-simple
                                                    input.d-none.d-sm-none(id="absolute-rain-input" type="radio" name="options")
                                                    span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block  میزان بارش
                                                    span.d-block.d-sm-none
                                                        i.tim-icons.icon-gift-2
                                                label#2.btn.btn-xl.btn-primary.btn-simple
                                                    input.d-none(id="rate-rain-input" type="radio" name="options")
                                                    span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block شدت بارش
                                                    span.d-block.d-sm-none
                                                        i.tim-icons.icon-tap-02

                                .col-lg-6.text-right
                                    .card
                                        .card-header
                                            .btn-group.btn-group-toggle(data-toggle="buttons")
                                                label#3.btn.btn-xl.btn-primary.btn-simple.active(style='font-size:25')
                                                    input(id="bar-display-input" type="radio" name="options" checked="")
                                                    span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block  نمایش میله ای
                                                    span.d-block.d-sm-none
                                                        i.tim-icons.icon-single-02
                                                label.btn.btn-xl.btn-primary.btn-simple(id='4')
                                                    input.d-none.d-sm-none(id="line-display-input" type="radio" name="options")
                                                    span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block  نمایش پیوسته
                                                    span.d-block.d-sm-none
                                                        i.tim-icons.icon-gift-2
                            .row
                                .col-lg-6.text-right
                                    .card
                                        .card-header(style='display:flex;justify-content:flex-start;align-items:baseline')
                                            //- h4.card-title تاریخ شروع :
                                            div
                                                label(for='pcal2') تاریخ شروع :
                                            span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            .col-md-4
                                                .md-form.md-outline.datepicker(darktheme='true')
                                                    input.pdate.form-control-lg(id='pcal1' type='text'  placeholder='انتخاب تاریخ شروع', style='color:#dadce0;font-family:Bahij;font-size:1.5rem')
                                .col-lg-6.text-right
                                    .card
                                        .card-header(style='display:flex;justify-content:flex-start;align-items:baseline')
                                            div
                                                label(for='pcal2') تاریخ پایان :
                                            span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            .col-md-4
                                                .md-form.md-outline.datepicker(darktheme='true')
                                                    input.pdate.form-control-lg(id='pcal2' type='text'  placeholder='انتخاب تاریخ پایان', style='color:#dadce0;font-family:Bahij;font-size:1.5rem')
                            .row
                                .col-lg-6
                                    .card
                                        .card-header(style='display:flex;justify-content:flex-start;align-items:baseline')
                                            div
                                                label(for='start-time') زمان شروع :
                                            span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            .col-md-4
                                                .md-form.md-outline.input-with-post-icon.timepicker(darktheme='true' style='font-family:Bahij')
                                                    input.form-control-lg(id='start-time-input' type='text', placeholder= 'انتخاب زمان شروع', style='text-align:center;color:#dadce0;font-family:Bahij;font-size:1.5rem')
                                .col-lg-6
                                    .card
                                        .card-header(style='display:flex;justify-content:flex-start;align-items:baseline')
                                            div
                                                label(for='end-time') زمان پایان :
                                            span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            .col-md-4
                                                .md-form.md-outline.input-with-post-icon.timepicker(darktheme='true' style='font-family:Bahij')
                                                    input.form-control-lg(id='end-time-input' type='text', placeholder='انتخاب زمان پایان', style='text-align:center;color:#dadce0;font-family:Bahij;font-size:1.5rem')
                            .row
                                .col-lg-6
                                    .card
                                        .card-header(style='display:flex;justify-content:flex-start;align-items:baseline')
                                            //- h4.card-title بازه زمانی :
                                            div
                                                label(for='end-time') بازه زمانی :
                                            span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            .col-lg-6.text-right.text-right
                                                select.selectpicker(id='select-period' data-style='select-with-transition', title='Single Select', data-size='10', data-dropdownAlignRight=true,style='text-align:right')
                                                    option(value='', disabled='', selected='') انتخاب
                                                    option(value='1') ۱ &nbspدقیقه
                                                    option(value='5') ۵ &nbspدقیقه
                                                    option(value='10') ۱۰ &nbspدقیقه
                                                    option(value='30') ۳۰ &nbspدقیقه
                                                    option(value='60') ۱ &nbspساعت
                                                    option(value='360') ۶ &nbspساعت
                                                    option(value='720') ۱۲ &nbspساعت
                                                    option(value='1440') ۱ &nbspروز
                                                    option(value='43200') ۱ &nbspماه
                                .col-lg-6
                                    h3.card-category(style='display:flex;justify-content: space-around')
                                        button.btn(onclick='submit()')
                                            i(style='font-size : 20px ') نمایش
                                        button.btn(id='download-button' onclick='download()')
                                            i(style='font-size : 20px ') بارگذاری در فایل
                    .card(id='report-chart')
                        .card-header
                            div(style='text-align:right')
                                h3.card-category
                        .card-body
                            div.chart-area(id='chart-container')
                                - chart_id = 'CountryChart' + stnID
                                canvas(id= chart_id)
                    .card
                        .card-header.text-right
                            //- h4.card-title  Simple Table
                        .card-body.text-right
                            .table-responsive(id='table-container')
                                table.table.tablesorter(id='table' + stnID)
                                    thead.text-primary
                                        tr
                                            th
                                                | ردیف
                                            th
                                                | مقدار
                                            th
                                                | تاریخ داده
                                    tbody

                .col-lg-12(id='standard-report-div')
                    .card
                        .card-header.text-right
                            h3.card-category گزارش استاندارد :
                            .row
                .col-lg-12(id='mantaghei-report-div')
                    .card
                        .card-header.text-right
                            h3.card-category گزارش آب منطقه ای :
                            .row
            div.col-lg-2.text-right
                div.card.card-chart
                    div.card-header.rain
                    - i = stnID
                    div.card-body(id= i)
                        .table-full-width.table-responsive
                            table.table
                                tbody.card-title
                                    tr
                                        td.text-right
                                            //i.tim-icons.icon-bell-55.text-primary
                                            i.card-label(id='rain_status')
                                            i.status(id='rain_status_result') بدون بارش
                                            br
                                    tr
                                        td.text-right
                                            //i.tim-icons.icon-bell-55.text-primary
                                            i.card-label(id='rain_alarm') بدون هشدار
                                            i.status(id='rain_alarm1')
                                            i.status(id='rain_alarm8')
                                            br

                                    tr

                                        td.text-right(style='display:flex;justify-content:space-between;align-items:baseline ')
                                            div
                                                i.far.fa-cloud-rain.fa-fw
                                                i.card-label(id='rain_total')
                                            div(style='text-align:left')
                                                i.unit(id='rain_total_unit')
                                                i.value(id='rain_total_value')
                                    tr
                                        td.text-right(style='display:flex;justify-content:space-between;align-items:baseline ')
                                            div
                                                i.far.fa-cloud-rain.fa-fw
                                                i.card-label(id='rain_24')
                                            div(style='text-align:left')
                                                i.unit(id='rain_24_unit')
                                                i.value(id='rain_24_value')
                                    tr
                                        td.text-right(style='display:flex;justify-content:space-between;align-items:baseline ')
                                            div
                                                i.far.fa-cloud-rain.fa-fw
                                                i.card-label(id='rain_12')
                                            div(style='text-align:left')
                                                i.unit(id='rain_12_unit')
                                                i.value(id='rain_12_value')
                                    tr
                                        td.text-right
                                            div
                                                i(id='date_of_last_recieved_data_label') تاریخ آخرین داده
                                            br
                                            div(style='text-align:left')
                                                i.value(id='date_of_last_recieved_data_value')
                                                //-br
                                                //-i.value(id='hour_of_last_recieved_data_value')
                                    tr
                                        td.text-right
                                            div
                                                i(id='date_of_installation_label') تاریخ نصب
                                            br
                                            div(style='text-align:left')
                                                i.value(id='date_of_installation_value')
                                            //-br
                                            //-i.value(id='hour_of_installation_value')
    script(type='text/javascript').
        function validateHhMm(inputField) {
            var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(inputField.value);

            if (isValid) {
                inputField.style.backgroundColor = '#181b39';
            } else {
                inputField.style.backgroundColor = '#ff6d6f';
            }

            return isValid;
        }
        function validateYYYYMD(inputField) {
            var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(inputField.value);
            var isValid = /^(1[3-4]?[0-9]?[0-9]?[0-9])-(0[1-9]|1[0-2])-([0-2][1-9]|3[0-1])?$/.test(inputField.value);
            if (isValid) {
                inputField.style.backgroundColor = '#181b39';
            } else {
                inputField.style.backgroundColor = '#ff6d6f';
            }

            return isValid;
        }
        function resetCanvas () {
            let chID='CountryChart' + #{stnID};
            console.log(chID);
            console.log($('#'+chID));
            $('#'+chID).remove(); // this is my <canvas> element
            $('.chartjs-size-monitor').remove();
            $('#chart-container').append('<canvas id='+chID+'></canvas>');
        }
        function resetTable() {
            let tableID = 'Table' + #{stnID};
            console.log(tableID);
            console.log($('#' + tableID));
            //$('#' + tableID).remove(); // this is my <table> element
            $('#table' + #{stnID}+' tbody').remove();
            //$('.chartjs-size-monitor').remove();
            $('#table' + #{stnID}).append('<tbody></tbody>');
        }
        let amariReport = true;
        let standardReport = false;
        let mantagheiReport = false;
        let totalRainBool = true;
        let absoluteRainBool = false;
        let rateRainBool = false;
        let barDisplayBool = true;
        let lineDisplayBool = false;
        let selectedPeriod = '';
        $('#standard-report-div').hide();
        $('#mantaghei-report-div').hide();

        // $('#report-chart').hide();
        // $('#report-table').hide();
        $('#download-button').addClass("disabled");

        $('#amari-report-input').on("change", function () {
            amariReport = true;
            standardReport = false;
            mantagheiReport = false;
            $('#amari-report-div').show();
            $('#standard-report-div').hide();
            $('#mantaghei-report-div').hide();
        });
        $('#standard-report-input').on("change", function () {
            amariReport = false;
            standardReport = true;
            mantagheiReport = false;
            $('#standard-report-div').show();
            $('#amari-report-div').hide();
            $('#mantaghei-report-div').hide();
        });
        $('#mantaghei-report-input').on("change", function () {
            amariReport = false;
            standardReport = false;
            mantagheiReport = true;
            $('#mantaghei-report-div').show();
            $('#amari-report-div').hide();
            $('#standard-report-div').hide();

        });
        $('#rate-rain-input').on("change", function () {
            rateRainBool = true;
            totalRainBool = false;
            absoluteRainBool = false;
            barDisplayBool = true;
            lineDisplayBool = false;
            $('#4').addClass("disabled");
            $('#4').removeClass("active");
            $('#3').addClass("active");
        });
        $('#absolute-rain-input').on("change", function () {
            absoluteRainBool = true;
            totalRainBool = false;
            rateRainBool = false;
            barDisplayBool = true;
            lineDisplayBool = false;
            $('#4').addClass("disabled");
            $('#4').removeClass("active");
            $('#3').addClass("active");
        });
        $('#total-rain-input').on("change", function () {
            totalRainBool = true;
            absoluteRainBool = false;
            rateRainBool = false;
            $('#4').removeClass("disabled");
        });

        $('#bar-display-input').on("change", function () {
            barDisplayBool = true;
            lineDisplayBool = false;
        });
        $('#line-display-input').on("change", function () {
            lineDisplayBool = true;
            barDisplayBool = false;
        });

        $('#start-time-input').pickatime({
            darktheme: true
        });
        $('#end-time-input').pickatime({
            darktheme: true
        });
        let startDate = '';
        let endDate = '';
        let startTime = '';
        let endTime = '';
        let startTimeIsCorrect=false;
        let endTimeIsCorrect=false;
        let objCal1 = new AMIB.persianCalendar('pcal1', {
                onchange: function (pdate) {
                    if (pdate) {
                        //- alert(pdate.join('/'));
                        startDate = pdate.join('-');
                    }
                    else {
                        startDate = '';
                        alert('تاریخ واردشده نادرست است');
                    }
                }
            }
        );
        let objCal2 = new AMIB.persianCalendar('pcal2', {
                onchange: function (pdate) {
                    if (pdate) {
                        //- alert(pdate.join('/'));
                        endDate = pdate.join('-');
                    }
                    else {
                        endDate = '';
                        alert('تاریخ واردشده نادرست است');
                    }
                }
            }
        );

        startTime = $('#start-time-input').on("change", function () {
            console.log("ON CHANGE STARTTIME");
            startTimeIsCorrect=validateHhMm(this);
            startTime = $('#start-time-input').val();
        })
        endTime = $('#end-time-input').on("change", function () {
            console.log("ON CHANGE ENDTIME");
            endTimeIsCorrect=validateHhMm(this);
            endTime = $('#end-time-input').val();
        })
        // $('.selectpicker').selectpicker();
        $.fn.selectpicker.Constructor.BootstrapVersion = '4';
        $.fn.selectpicker.Constructor.DEFAULTS.dropdownAlignRight = true;
        $('#select-period').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            selectedPeriod=$(this).selectpicker('val')
            console.log('first ===' + selectedPeriod);
        });

        let chartLabel = "";
        let periodLabel = "";
        let periodLabels = {1:'۱ دقیقه',5:'۵ دقیقه',10:'۱۰ دقیقه',30:'۳۰ دقیقه',60:'۱ ساعته',360:'۶ ساعته',720:'۱۲ ساعته',1440:'۱ روزه',43200:'۱ ماهه'};
        //$("#select-period")
        // .selectmenu()
        //- .selectmenu("menuWidget")
        //- .addClass("overflow");

        // $('.mdb-select').materialSelect();
        // $('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
        //     $(this).closest('.select-outline').find('label').toggleClass('active');
        //     // $(this).closest('.select-outline').find('.caret').toggleClass('active');
        // });
        //
        // $('.mdb-select').change(function (e) {
        //     // e.preventDefault();
        //     selectedPeriod = $('.mdb-select').val();
        //
        //     console.log('first ===' + selectedPeriod);
        // });

        function  submit() {
            if((startDate=='') ||($('#pcal1').val()=="")) {
                alert('لطفا تاریخ شروع را انتخاب کنید!');
                return;
            }
            if ((endDate=='') || ($('#pcal2').val()=="")){
                alert('لطفا تاریخ پایان را انتخاب کنید!');
                return;
            }
            if ((!startTimeIsCorrect) || ($('#start-time-input').val()=='') ){
                alert('لطفا زمان شروع را انتخاب کنید!');
                return;
            }
            if ((!endTimeIsCorrect) || ($('#end-time-input').val()=='')){
                alert('لطفا زمان پایان را انتخاب کنید!');
                return;
            }
            if(selectedPeriod==''){
                alert('لطفا بازه زمانی را انتخاب کنید!');
                return;
            }
            resetCanvas();
            resetTable();
        //displayRainAmariReport(#{stnID},true,totalRainBool,absoluteRainBool,rateRainBool,barDisplayBool,lineDisplayBool,'1399-03-07','1399-03-09','01:02','12:00','60');
            displayRainAmariReport(#{stnID},true,totalRainBool,absoluteRainBool,rateRainBool,barDisplayBool,lineDisplayBool,startDate,endDate,startTime,endTime,selectedPeriod);
            periodLabel = periodLabels[selectedPeriod];
            // switch(selectedPeriod){
            //     case (30): periodLabel
            // }
            if(totalRainBool)
                chartLabel='باران تجمیعی';
            if (absoluteRainBool)
                chartLabel = 'میزان بارش';
            if (rateRainBool)
                chartLabel = 'شدت بارش';
            chartLabel=chartLabel + " در بازه های ";
            chartLabel=chartLabel + periodLabel;
            $('#report-chart'+' h3').text("").append(chartLabel);
        }
        function  download() {
        //getExcelRainAmariReport(#{stnID},true,totalRainBool,absoluteRainBool,rateRainBool,barDisplayBool,lineDisplayBool,'1399-03-07','1399-03-09','01:02','12:00','60');
            getExcelRainAmariReport(#{stnID},true,totalRainBool,absoluteRainBool,rateRainBool,barDisplayBool,lineDisplayBool,startDate,endDate,startTime,endTime,selectedPeriod);
        }